# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
.next/
.expo/
.turbo/
build/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# Prisma
prisma/*.db

# Misc
*.tsbuildinfo
